#beginer{
    background-image: url('https://img.freepik.com/free-photo/top-view-white-roses-gardening-tools-with-rope_23-2148433026.jpg?w=996&t=st=1703100601~exp=1703101201~hmac=02a9a09d3940e216ac172d4e2a4722e8b93a348863f45599f67c5aba4f67e713');
    opacity: 70%;
}
.text{
    height: 450px;
    width: 100%;
}