

    

.btnnnn{
  width: 20em;
  height: 7ex;
  background-color: rgba(90, 88, 21, 0.461);
  border: 2px 2px 2px  solid rgb(154, 123, 123);
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
button:hover{
  background-color: rgb(125, 126, 91);

}

